---
import Layout from "../layouts/Layout.astro";
import Stopwatch from "../components/Stopwatch";
---

<Layout title="Stopwatch App">
  <main class="flex flex-col items-center justify-center h-screen">
    <section class="flex flex-col items-center font-bold text-xl my-8">
      <h1 class="text-2xl text-center">
        <span class="text-green-500"> Team Greatness </span>
        VS
        <span class="text-red-500"> Team Phoenix </span>
      </h1>
    </section>
    <h1 class="text-center text-3xl font-bold mt-8">Stopwatch</h1>
    <Stopwatch client:load />
  </main>
</Layout>
